* {
  box-sizing: border-box;
}


body {
  height: 100vh;
  margin: 0;
}

.grid-wrapper {
  height: 90vh;
  display: flex;
  justify-content: center;
  margin:110px;
}

.grid {
  align-items: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width:100%;
  justify-content: center;
  height: 800px;
  width: 800px;
}

.grid div {
  border: 1px solid lightgrey;
  flex-grow: 1;
  height: 4%;
  width: 4%;
}

div:nth-child(121), div:nth-child(221) {
  background-color: blue;
}