* {
  box-sizing: border-box;
}


body {
  height: 100vh;
  margin: 0;
}

.console{
  display:flex;
  flex-direction:row;
  justify-content:center;
  background-color: darkslategray;
  min-height:900px;
}
.rightSide {
  display:flex;
  flex-direction:column-reverse;
  justify-content:center;
  align-items:center;
  /* background-color: dimgray; */
}

.roundBtn{
  margin:35px;
  background-color: darkred;
  border-radius: 100;
  height: 100px;
  width:100px;
  font-size:25px ;
}

.grid-wrapper {
  height: 90vh;
  display: flex;
  justify-content: center;
  margin:20px;
}

.scoreboard{
  width:200px;
  margin:15px;
  text-align: center;
  padding:12px;
  background-color: linen;
  /* margin:115px; */
  min-height: 25px;
  font-weight: bold;
}
.grid {
  align-items: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width:100%;
  justify-content: center;
  height: 800px;
  width: 800px;
  background-color:darkgray;
}

.grid div {
  /* border: 1px dotted darkslategray; */
  flex-grow: 1;
  height: 4%;
  width: 4%;
}

.egg{
  background-image: url('../images/egghatch.gif');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.sprite{
  background-image: url('../images/pikachu.gif');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.maze{
  background-color:darkgreen;
  background-image: url('../images/grass_tile.png');
  background-repeat: repeat;
  background-position: center;
  background-size: 55%;
}

.cookie{
  background-image: url('../images/Apple.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 35%;
}

.enemy1{
  background-image: url('../images/koffing.gif');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;

}

.scaredEnemy1 {
  background-image: url('../images/koffing.gif');
  background-blend-mode: color-dodge;
  background-color: linen;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.enemy2{
  background-image: url('../images/ekans.gif');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;

}

.enemy3{
  background-image: url('../images/arbok.gif');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;

}

.enemy4{
  background-image: url('../images/Lickitung.gif');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;

}

.powerUp{
  background-image: url('../images/lightningpikachu.gif');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
 }

.pokeBall{
  background-image: url('../images/pokeball.gif');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

#gameOverScreenID {
align-self:center;
position:absolute;
width:750px;
height:338px;
background-image: url('../images/pikachulargesad.jpg');
background-color:black;
background-repeat: no-repeat;
background-size: cover;
}
