* {
  box-sizing: border-box;
}


body {
  height: 100vh;
  margin: 0;
  background-color: darkslategray;
}

.console{
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content:center;
  background-color: rgb(23, 29, 29);
  min-height:900px;
  font-family: 'Orbitron', sans-serif;
}
.rightSide {
  display:flex;
  flex-direction:column-reverse;
  justify-content:center;
  align-items:center;
  font-family: 'Orbitron', sans-serif;
  /* background-color: grey; */
  height:800px;

  /* background-color: dimgray; */
}

.rightSideConsole {
  display:flex;
  flex-direction:column;
  justify-content:center;
  font-family: 'Orbitron', sans-serif;
  align-items:center;
  background-color: rgb(55, 54, 54);
  height:750px;
  padding:10px;
  border-radius: 25px;
  background-image: url('../images/textured-salmon-pink-colored-plastic-close-up.jpg');
  background-size: 100%;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, .5);
}

.allblack{
  background-color:darkslategrey;
}

.roundBtn{
  margin:9px;
  background-color:rgb(211, 46, 85);
  border-radius: 50%;
  height: 90px;
  width:90px;
  font-size:15px ;
  color:black;
  font-weight: bold;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 1);
  font-family: 'Orbitron', sans-serif;
}

.buttons{
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
}

.berry{
  background-image: url('../images/starsprite.gif');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;

}
.pikamanLogo img{
  width:200px;
  margin:35px;
  border-width:2px;
  border-style:solid;
  border-color:black;
}

.townpieceA{
  background-image: url('../images/townpieceA.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.townpieceB{
  background-image: url('../images/townpieceB.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.townpieceC{
  background-image: url('../images/townpieceD.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.townpieceD{
  background-image: url('../images/townpieceC.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.townpieceE{
  background-image: url('../images/townpieceE.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.townpieceF{
  background-image: url('../images/townpieceF.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.townpieceG{
  background-image: url('../images/townpieceH.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.townpieceH{
  background-image: url('../images/townpieceG.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.lake1{
  background-image: url('../images/lake1.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.lake2{
  background-image: url('../images/lake2.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.grid-wrapper {
  height: 90vh;
  display: flex;
  justify-content: center;
  margin:20px;
}

.scoreboard{
  width:200px;
  margin:15px;
  text-align: center;
  padding:12px;
  background-color: linen;
  /* margin:115px; */
  min-height: 25px;
  font-weight: bold;
  border-radius: 20px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.6);
  border-width:3px;
  border-style:solid;
  border-color:black;
  font-family: 'Orbitron', sans-serif;
  
}

.musicIcons img{
width:60px;
margin:0 0 0 0 ;
padding:10px
}
.scoreboardLabel{
  width:200px;
  margin:15px;
  text-align: center;
  padding:12px;
  background-color:lightsteelblue;
  /* margin:115px; */
  min-height: 25px;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.6);
  border-width:1px;
  border-style:solid;
  border-color:black;
  font-family: 'Orbitron', sans-serif;
}

.musicdivs{
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
}
.consoleItems {
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
}
.grid {
  align-items: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width:100%;
  justify-content: center;
  height: 800px;
  width: 800px;
  background-color: rgb(158, 196, 158);
}

.grid div {
  /* border: 1px dotted darkslategray; */
  flex-grow: 1;
  height: 4%;
  width: 4%;
}

.egg{
  background-image: url('../images/egghatch.gif');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.sprite{
  background-image: url('../images/pikachu.gif');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.maze{
  background-color:darkgreen;
  background-image: url('../images/grass_tile.png');
  background-repeat: repeat;
  background-position: center;
  background-size: 95%;
}

.wasd img{
width:250px;
margin:40 0 0 0;
/* box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.6); */
}

.cookie{
  background-image: url('../images/Apple.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 35%;
}

.enemy1{
  background-image: url('../images/koffing.gif');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;

}
/* 
.scaredEnemy1 {
  background-image: url('../images/koffing.gif');
  background-blend-mode: color-dodge;
  background-color: linen;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
} */

.enemy2{
  background-image: url('../images/ekans.gif');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;

}

.enemy3{
  background-image: url('../images/arbok.gif');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;

}

.enemy4{
  background-image: url('../images/Lickitung.gif');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;

}

.powerUp{
  background-image: url('../images/lightningpikachu.gif');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
 }

.pokeBall{
  background-image: url('../images/pokeball.gif');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

#gameOverScreenID {
align-self:center;
justify-self: center;
position:absolute;
/* margin:45px; */
width:700px;
height:550px;
background-image: url('../images/pikachumediumsad.jpg');
background-color:black;
background-repeat: no-repeat;
background-size: cover;
}

#youWinScreenID {
  align-self:center;
  justify-self: center;
  position:absolute;
  /* margin:45px; */
  width:700px;
  height:550px;
  background-image: url('../images/YOUWIN.jpg');
  background-color:black;
  background-repeat: no-repeat;
  background-size: cover;
  }
