* {
  box-sizing: border-box;
}


body {
  height: 100vh;
  margin: 0;
}

.grid-wrapper {
  height: 90vh;
  display: flex;
  justify-content: center;
  margin:20px;
}

.grid {
  align-items: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width:100%;
  justify-content: center;
  height: 800px;
  width: 800px;
  background-color:darkgray;
}

.grid div {
  /* border: 1px dotted darkslategray; */
  flex-grow: 1;
  height: 4%;
  width: 4%;
}

.sprite{
  background-image: url('../images/pikachu.gif');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.maze{
  background-color:darkgreen;
  background-image: url('../images/grass_tile.png');
  background-repeat: repeat;
  background-position: center;
  background-size: 55%;
}

.cookie{
  background-image: url('../images/Apple.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 35%;
}

.enemy1{
  background-image: url('../images/koffing.gif');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;

}

.pokeBall{
  background-image: url('../images/pokeball.gif');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
